<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a href="#" [routerLink]="['/contact-list']" class="navbar-brand">Addressbook App</a>
        <div class="navbar-text pull-right">
            <button [routerLink]="['new-contact']" 
                title="Create new contact"
                class="btn btn-primary">
                <span class="glyphicon glyphicon-user"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
</nav>